<h1>Product Code Search Tool</h1>

<%= form_tag products_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], value: 'Begin typing to search' %>
  <%= submit_tag "Search" %>
<% end  %>
